<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 내역</title>
    <%- include('header.ejs') %>

    <script>
        function confirm(no){
            location.href = '/trade/confirm/'+no
        }
        function reservation(no){
            location.href = '/trade/reservation/'+no
        }
    </script>
</head>
<body>
    <h1>Product Detail</h1>
    <form action="" method="post">
        <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">상품명</span>
            <input type="text" name="_name"class="form-control" value="<%=data.name%>"" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">사진</span>
            <image src="/uploads/<%=data.img%>" width="300px">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">가격</span>
            <input type="text" name="_price"class="form-control" value="<%=data.price%>"" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">설명</span>
            <input type="text" name="_explain"class="form-control" value="<%=data.content%>" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">등록자</span>
            <input type="text" name="_registant"class="form-control" value="<%=data.writer%>" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">상태</span>
            <input type="text" name="_status"class="form-control" value="<%=data.status%>" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">마감일</span>
            <input type="text" name="_duedate"class="form-control" value="<%=data.duedate%>" aria-label="food_code" aria-describedby="basic-addon1">
        </div>
        </div>
    </form>
    <button onclick="location.href='/trade/list'">게시판으로</button>

    <% if ((login['0'] == data.writer) & (data.status == 1))  {%>
        <button onclick="confirm('<%=data.no%>')">거래 확정</button>
    <%} else if ((data.status == 0) &(login['0'] != data.writer)) {%>
        <button onclick="reservation('<%=data.no%>')">물건 예약</button>
    <%}%>

</body>
</html>
