<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 유저의 정보를 출력 
    리스트의 형태로 출력 -->
    <ol>
        <li>유저의 id : (<%=id%>)</li>
        <li>유저의 이름 : (<%=name%>)</li>
        <li>유저의 휴대폰 : (<%=phone%>)</li>
        <li>유저의 지갑 : (<%=wallet%>)</li>
        <li>유저의 토큰 수량 : (<%=amount%>)</li>
    </ol>
</body>
</html>