<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- header 파일 포함 -->
    <%- include('header.ejs') %>
    <script>
        function trade(code){
            location.href = '/food/trade/'+code
        }
    </script>
</head>
<body>
    <h1>식품의 내역</h1>

    <div class="container">
        <table class="table">
            <tr>
                <th>
                    등록자
                </th>
                <td>
                    <%=name%>
                </td>
            </tr>
            <tr>
                <th>
                    등록자의 지갑 주소
                </th>
                <td>
                    <%=wallet%>
                </td>
            </tr>
            <tr>
                <th>
                    판매 상황
                </th>
                <td>
                    <% if (state == 1) {%>
                        판매 중
                    <% } else { %>
                        판매 완료
                    <% } %>
                </td>
            </tr>
            <tr>
                <th>
                    가격
                </th>
                <td>
                    <%=price%>
                </td>
            </tr>
            <tr>
                <th>
                    식품 종류
                </th>
                <td>
                    <%=type%>
                </td>
            </tr>
            <!-- 
                table의 속성중 rowspan, colspan 
                rowspan : 세로의 셀 결합(행 결합)
                colspan : 가로의 셀을 결합(열 결합)
            -->
            <!-- 반복문을 사용하기 전에 첫번째 hist는 따로 작성 -->
            <tr>
                <th rowspan="<%=hist.length%>">
                    식품내역
                </th>
                <td>
                    <%=hist[0]%>
                </td>
            </tr>
            <!-- javascript를 이용하여 반복문 사용 -->
            <%for (var i = 1; i < hist.length; i++){%>
                <tr>
                    <td>
                        <%=hist[i]%>
                    </td>
                </tr>
            <%}%>
        </table>
        <% if (state == 1){%>
            <button class="btn btn-danger" onclick="trade('<%=code%>')" >구매</button>
        <% } %>
    </div>
</body>
</html>